language: node_js

node_js:
  - "8"
  - "9"

cache:
  directories:
    - "node_modules"

install:
- npm install

script:
- ng lint
- ng test -cc --watch false

after_success:
- bash <(curl -s https://codecov.io/bash)

addons:
  chrome: stable, no-sandbox

notifications:
  email: false
