language: node_js

sudo: required

node_js:
  - "8"
  - "9"
  - "10"

cache:
  directories:
    - "node_modules"
    
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

install:
- npm install

script:
- ng lint
- ng test -cc --watch false --single-run --progress=false

after_success:
- bash <(curl -s https://codecov.io/bash)

addons:
  chrome: stable

notifications:
  email: false
