language: node_js

node_js:
  - "8"

cache:
  directories:
    - "node_modules"

install:
- npm install -g @angular/cli
- npm install -g karma
- npm install
- ng build

script:
- ng lint
- ng test -cc --watch false

after_success:
- bash <(curl -s https://codecov.io/bash)

addons:
  chrome: stable

notifications:
  email: false
