<h1 style="text-align:center">Créez votre formation</h1>

<div class="ui form">
  <label> Titre de la formation</label>
  <div class="input">
    <input  [(ngModel)]="formation.name" type="text" placeholder="Entrez un nom de formation">
  </div>
  <br>
  <label> Description</label>
  <div class="field">
    <textarea [(ngModel)]="formation.description" placeholder="Entrez la description de la formation" rows="2"></textarea>
  </div>
</div>

<br>
<br>

<div class="col-sm-3">
  <div class="ui segment" droppable
       (onDrop)="onChapterDrop($event)">
    <div class="ui header">Déposez vos chapitres ici</div>
    <div class="ui celled list">
      <li *ngFor="let item of chapters" class="ui green segment">
        <div class="ui transparent fluid input">
          <input [(ngModel)]="item.name" type="text" placeholder="Entrez un titre de chapitre">

          <button (click)="editChapter(formation, item)" class="ui  button">Editer</button>
          <button (click)="deleteChapter(item)" class="ui red button">X</button>
        </div>
      </li>
    </div>
  </div>
</div>

<br>
<br>

<div class="ui grid">
  <div class="five column row">
    <div class="left floated column">
      <div class="ui buttons">
        <button (click)="goBack()" class="ui left floated button">
          <i class="left chevron icon"></i>
          Précédent
        </button>
      </div>
    </div>
    <div class="right floated column">
      <div class="ui buttons">
        <button (click)="saveFormation()" class="positive ui button">
          Enregistrer
        </button>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="bottom col-sm-3">
  <div class="ui segment">
    <div class="ui header">
      Composants
    </div>
    <div class="ui celled list">
      <li class="ui green segment" [draggable] *ngFor="let item of items" [dragData]="item">
          {{item.name}}
      </li>
    </div>
  </div>
</div>

