<h1 style="text-align:center">Créez votre formation</h1>

<div class="col-sm-3">
  <div class="ui segment" droppable [dragOverClass]="'drag-target-border-green'"
       [dragHintClass]="'drag-hint'" (onDrop)="onItemDrop($event)">
    <div class="ui header">Déposez vos chapitres ici</div>
    <div class="ui celled list">
      <li *ngFor="let item of droppedChapters" class="ui segment">
        <div class="ui transparent input">
          <input #chapterTitle type="text" placeholder="Entrez un titre">
        </div>
      </li>
    </div>
  </div>
</div>

<div class="bottom col-sm-3">
  <div class="ui segment">
    <div class="ui header">
      Draggable Items
    </div>
    <div class="ui celled list">
      <li class="ui segment" [draggable] *ngFor="let item of items"
          [dragClass]="'active'" [dragData]="item">
          {{item.title}}
      </li>
    </div>
  </div>
</div>

