<form class="ui large form" >
  <div class="ui segment" style="width: 20%; margin-left: auto;  margin-right: auto; background-color: dimgrey">
    <div class="field">
      <div class="ui left icon input">
        <input type="text" name="email" placeholder="E-mail address">
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <input type="password" name="password" placeholder="Password">
      </div>
    </div>
    <div class="ui fluid large green submit button">Se connecter</div>
  </div>
</form>

